.container {
    height: 100vh;    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 10px 15px rgba(115, 112, 101, 0.6);

}
.toggle-form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.toggle-form button {
    width: 50%;
    font-size: 16px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
}

.toggle-form .active {
    background-color: rgb(34, 140, 131);
    color: white;
}
input {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 7px;
    border: 1px solid rgb(204, 199, 199);
    border-radius: 3px;
    font-size: 17px;
    box-sizing: border-box;
}
#passid {
    text-decoration: none;
    margin-bottom: 10px;
    color: rgb(30, 131, 122);
    display: flex;
    justify-content: end;
}
.form a {
    text-decoration: none;
    color: rgb(30, 131, 122);
}
.form button {
    width: 100%;
    background-color: rgb(34, 140, 131);
    color: white;
    font-size: 16px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form p {
    display: flex;
    justify-content: center;
}